//
//  Release.xcconfig
//  GiniVisionExample
//
//  Created by Gini GmbH on 7/10/18.
//  Copyright © 2018 Gini. All rights reserved.
//

GSE_APP_NAME = GiniVision
GSE_APP_BUNDLE_IDENTIFIER = net.gini.ios.vision.showcase.release
GSE_LAUNCH_SCREEN = LaunchScreen.xib
GSE_PRIMARY_COLOR = 0066B3
GSE_SECONDARY_COLOR = FFFFFF
GSE_BUTTONS_COLOR = 0066B3
GSE_APP_ICON_NAME = VRAppIcon
GSE_LOGO_NAME = logo_white
GSE_SHOW_PHOTO_PAYMENT_LABEL = NO
GSE_STATUS_BAR_STYLE = UIStatusBarStyleLightContent

#include "Pods/Target Support Files/Pods-GiniVisionExample/Pods-GiniVisionExample.release.xcconfig"
