//
//  Targeted.xcconfig
//  GiniVisionExample
//
//  Created by Gini GmbH on 7/10/18.
//  Copyright © 2018 Gini. All rights reserved.
//

GSE_APP_NAME = GiniVision Targeted
GSE_APP_BUNDLE_IDENTIFIER = net.gini.ios.vision.showcase.targeted
GSE_LAUNCH_SCREEN = LaunchScreenTargeted.xib
GSE_PRIMARY_COLOR = 0xFFFFFF
GSE_SECONDARY_COLOR = 0X000000
GSE_APP_ICON_NAME = AppIconTargeted
GSE_LOGO_NAME = logo_targeted

#include "Pods/Target Support Files/Pods-GiniVisionExample/Pods-GiniVisionExample.targeted.xcconfig"
