//
//  Targeted.xcconfig
//  GiniVisionExample
//
//  Created by Gini GmbH on 7/10/18.
//  Copyright © 2018 Gini. All rights reserved.
//

GSE_APP_NAME = GiniVision Targeted
GSE_APP_BUNDLE_IDENTIFIER = net.gini.ios.vision.showcase.targeted
GSE_LAUNCH_SCREEN = LaunchScreenTargeted.xib
GSE_PRIMARY_COLOR = FFFFFF
GSE_SECONDARY_COLOR = 000000
GSE_BUTTONS_COLOR = FFFFFF
GSE_APP_ICON_NAME = AppIconTargeted
GSE_LOGO_NAME = logo_targeted
GSE_SHOW_PHOTO_PAYMENT_LABEL = YES
GSE_STATUS_BAR_STYLE = UIStatusBarStyleDefault

#include "Pods/Target Support Files/Pods-GiniVisionExample/Pods-GiniVisionExample.targeted.xcconfig"
